<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tile005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{23,32}}</string>
        <key>offset</key>
        <string>{-5.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,17},{23,32}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile007.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,0},{22,33}}</string>
        <key>offset</key>
        <string>{-6,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,17},{22,33}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,33},{22,33}}</string>
        <key>offset</key>
        <string>{-6,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,17},{22,33}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile008.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,33},{22,33}}</string>
        <key>offset</key>
        <string>{-7,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,16},{22,33}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile009.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{22,31}}</string>
        <key>offset</key>
        <string>{-7,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,16},{22,31}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{21,32}}</string>
        <key>offset</key>
        <string>{-4.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,16},{21,32}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile010.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,55},{21,30}}</string>
        <key>offset</key>
        <string>{-8.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,15},{21,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile003.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,31},{20,30}}</string>
        <key>offset</key>
        <string>{-4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,17},{20,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile011.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{20,30}}</string>
        <key>offset</key>
        <string>{-9,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,15},{20,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile013.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,61},{19,31}}</string>
        <key>offset</key>
        <string>{-9.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,15},{19,31}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{19,31}}</string>
        <key>offset</key>
        <string>{-9.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,14},{19,31}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile002.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,76},{19,29}}</string>
        <key>offset</key>
        <string>{-3.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{17,17},{19,29}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,61},{18,30}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,16},{18,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,30},{17,30}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,16},{17,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>tile014.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{17,30}}</string>
        <key>offset</key>
        <string>{-9.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,16},{17,30}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{104,95}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
